<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accent.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
  </head>

  <body>
    <div id="popup" class="">
      <p id="hint">Type a letter.</p>
      <input type="text" value="" autofocus>
      <br>
      <!--<button>á</button>
    <button>é</button>
    <button>í</button>
    <button>ó</button>
    <button>ú</button>!-->
      <button>Ñ</button>
      <button>ñ</button>
      <button>¿</button>
      <button>¡</button>
    </div>
    <script src="{{ url_for('static', filename='js/accent.js') }}"></script>
  </body>

</html>

