html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  color: #696969;
  font-size: 1.25em;
  z-index: 998;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
}

#popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin: auto;
  background-color: #F5F5F5;
  top: 50%;
  left: 50%;
  width: max-content;
  min-width: 10em;
  height: max-content;
  border-radius: 0.75em;
  text-align: center;
  transform: translate(-50%, -50%) scale(1.05);
  transition: all 0.5s ease-out, visibility 0s linear, width 5s ease-out;
  padding: 1.75em 0.5em;
}

#popup.visible {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 2em #BEBEBE;
}

@media screen and (orientation:portrait) {
  #popup.visible {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1);
    border-radius: none;
    width: auto;
    height: auto;
  }
}

#popup h1 {
  transition: opacity 2s ease-out;
  opacity: 0;
  line-height: 0.25em;
  margin-top: 0.75em;
  font-weight: normal;
}

#popup.visible h1 {
  opacity: 1;
}

#popup input {
  color: #808080;
  font-family: Roboto, sans-serif;
  transition: all 0.5s ease-out, border 0.25s ease-out;
  padding: 0.5em 0;
  border-radius: 0.25em;
  border: none;
  text-align: center;
  width: 2em;
  font-size: 1em;
  outline: 0;
  max-height: 0;
  margin: 0;
  opacity: 0;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}

#popup.visible input {
  opacity: 1;
  max-height: inherit;
}

#popup input.visible::placeholder {
  color: inherit;
}

#popup input::placeholder {
  color: transparent;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.25s ease-out;
}

#popup input:focus::placeholder {
  transform: translate(-0.5em, 0);
  opacity: 0;
}

#popup input:focus {
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25), 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

#popup input:hover {
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.25), 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

#popup button {
  display: inline-block;
  transition: all 0.25s ease-out;
  margin: auto;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.25em;
  background-color: white;
  cursor: pointer;
  font-size: 0.75em;
  opacity: 0;
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.25), 0 0.125em 0.0625em rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  transform: translateY(0) scale(1);
}

#popup.visible button {
  opacity: 1;
}

#popup button:hover {
  box-shadow: 0 0.25em 0.125em rgba(0, 0, 0, 0.25), 0 0.125em 0.0625em rgba(0, 0, 0, 0.5);
  transform: translateY(-0.125em) scale(1.05);

}

#popup button:active {
  box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25);
  transform: translateY(0) scale(1);
}

#hint {
  transition: all 0.5s ease-out;
  min-height: 4em;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

#hint.visible {
  opacity: 1;
}

