html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  color: #696969;
  overflow: hidden;
  font-size: 1.25em;
  width: 100%;
  height: 100%;
}

#main {
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 2em;
  padding: 0.5em;
}

#footer {
  position: absolute;
  height: 2em;
  left: 0;
  right: 0;
  bottom: 0;
}

svg {
  display: inline-block;
}

svg path {
  fill: #696969;
  transition: all 0.25s ease-out;
}

#main::-webkit-scrollbar {
  width: 0.5em;
}

#main::-webkit-scrollbar-track {
  background-color: #DCDCDC;
}

#main::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 0.5em;
}

#header {
  z-index: 3;
  position: fixed;
  top: 0;
  height: 2em;
  left: 0;
  right: 0;
  background-color: #E0E0E0;
  box-shadow: 0 0.1em 0.75em rgba(0, 0, 0, 0.375);
  /*border-bottom: 0.1em solid #BEBEBE;*/
}

#exit {
  transition: all 0.5s ease-out, top 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-1em);
  width: 2em;
  height: 3em;
  top: -3.5em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  text-align: center;
  background-color: #F5F5F5;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.3);
  /*border: 0.1em solid #BEBEBE;*/
  display: inline-block;
  cursor: pointer;
}

#exit.visible {
  top: -1em;
}

#exit svg {
  margin-top: 1.25em;
}

#header span, #footer span {
  padding: 0.5em;
}

span.left {
  float: left;
}

span.right {
  float: right;
}

#logout {
  height: 1.25em;
  width: 1.25em;
  float: right;
  padding: 0.5em;
  padding-left: 0;
  vertical-align: -0.1875em;
  cursor: pointer;
}

#logout:hover path {
  fill: #808080;
}

#iframe-wrapper {
  z-index: 2;
  position: fixed;
  transition: all 0.25s ease-out, visibility 0.25s linear;
  transform: scale(0.95);
  opacity: 0;
  visibility: hidden;
  border-radius: 1em;
  top: 3em;
}

#iframe-wrapper.ssh {
  left: 2%;
  right: 2%;
  bottom: 5%;
  padding: 0.5em;
  background: #191919;
}

#iframe-wrapper.account {
  left: 35%;
  right: 35%;
  bottom: 10%;
  padding: 0.5em;
  border: 0.25em solid #696969;
  background: #DCDCDC;
}

#iframe-wrapper.visible {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

#iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#card-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

#card {
  opacity: 0;
  visibility: hidden;
  position: relative;
  display: inline-block;
  margin: 1em 0.25em;
  height: 9em;
  width: 6em;
  background-color: #F5F5F5;
  border-radius: 0.5em;
  text-align: center;
  transform: scale(1.05);
  transition: all 0.25s ease-out, visibility 0.25s linear;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

#card.visible {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  z-index: 1;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  /*-webkit-mask-image: linear-gradient(white 100%, transparent 100%);*/
  /* https://stackoverflow.com/a/10296258/9068081 */
}

#card:hover {
  /*box-shadow: 0 0 0.75em #BEBEBE;*/
  transform: translateY(-0.1em) scale(1.01);
  /* does scaling look bad? */
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25), 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

#card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
}

#card *:hover {
  cursor: pointer;
}

#card p {
  transition: all 0.25s ease-out;
  color: #696969;
}

#card:hover p {
  color: #808080;
}

#card svg {
  width: 50%;
  height: 50%;
  padding-top: 15%;
}

#card:hover svg path {
  fill: #808080;
}

