html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  color: #696969;
  font-size: 1.25em;
  z-index: 998;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

#popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  margin: auto;
  top: 20%;
  left: 35%;
  bottom: 20%;
  right: 35%;
  height: max-content;
  background-color: #F5F5F5;
  border-radius: 2vh;
  text-align: center;
  transform: scale(1.05);
  transition: all 0.5s ease-out, visibility 0s linear;
  padding: 5vh 0;
}

@media screen and (orientation:portrait) {
  #popup {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: none;
    height: 100%;
    padding-top: 50%;
  }
}

#popup.visible {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  box-shadow: 0 0 2em #BEBEBE;
}

#popup svg {
  width: 3em;
  margin-top: 1em;
}

#popup svg path {
  transition: stroke-dashoffset 3.5s ease 0.25s;
  stroke-dasharray: 1208.2728271484375;
  stroke-dashoffset: 1208.2728271484375;
}

#popup.visible svg path {
  stroke-dashoffset: 0;
}

#popup h1 {
  transition: opacity 2s ease-out 0.75s;
  opacity: 0;
  line-height: 0.25em;
  margin-top: 0.75em;
  font-weight: normal;
}

#popup.visible h1 {
  opacity: 1;
}

a {
  transition: all 0.5s ease-out;
  color: #696969;
}

a:hover {
  color: #808080;
}

#popup h4 {
  transition: all 0.5s, opacity 0.75s ease-out 1.25s;
  opacity: 0;
  font-weight: normal;
}

#popup.visible h4 {
  opacity: 1;
}

#popup input {
  color: #808080;
  font-family: Roboto, sans-serif;
  transition: all 0.5s ease-out, border 0.25s ease-out;
  padding: 0.5em 0;
  border-radius: 0.25em;
  border: 0.1em solid #DCDCDC;
  text-align: center;
  width: 90%;
  font-size: 1em;
  outline: 0;
  max-height: 0;
  margin: 0;
  opacity: 0;
}

#popup #username {
  transition: opacity 1s ease-out 1.5s;
  opacity: 0;
}

#popup.visible #username.visible {
  opacity: 1;
}

#popup.visible input.visible {
  transition: all 0.5s ease-out;
  margin: 0.5em 0;
  max-height: inherit;
  opacity: 1;
}

#popup input.visible::placeholder {
  color: inherit;
}

#popup input::placeholder {
  color: transparent;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.25s ease-out;
}

#popup input:focus::placeholder {
  transform: translate(-0.5em, 0);
  opacity: 0;
}

#popup input:focus {
  border: 0.1em solid #C0C0C0;
}

#popup button {
  transition: all 0.25s ease-out, opacity 0.75s ease-out 2s;
  color: #808080;
  font-family: Roboto, sans-serif;
  margin: auto;
  width: 2.25em;
  height: 1.75em;
  display: block;
  border-radius: 0.25em;
  background-color: white;
  cursor: pointer;
  font-size: 0.75em;
  opacity: 0;
  box-shadow: 0 0 0.5em #808080;
  border: 0.075em solid #C0C0C0;
}

#popup.visible button {
  opacity: 1;
}

#popup button svg {
  fill: #696969;
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

#popup button div {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  transform: translateX(-0.15em);
}

#popup button:hover {
  box-shadow: 0 0 0.15em #808080;
}

